{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <h1>The Metropolitan Museum of Art</h1>

    <p class="text-justify">
        This website visualizes over 5000 years of art from around the world 
        for everyone to experience and enjoy! The data comes from a CSV file, 
        if you want you can visit this 
        <a href="https://github.com/metmuseum/openaccess" target="_blank">
            website
        </a> 
        for more information. The Metropolitan Museum of Art provides select 
        datasets of information on more than 470,000 artworks in its Collection.
    </p>
</div>
{% endblock %}
